{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ question.intitule }}</h1>

    <table>
        <tbody>
        {% for reponse in question.reponses %}
            <tr>
                <td>
                    <b>Réponse de {{ reponse.user.username }}</b>
                    <br>
                    {{ reponse.body }}
                </td>
            </tr>
        {% endfor %}
    </table>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <input type="submit" value="Ajouter la réponse" />
    {{ form_end(form) }}

{% endblock %}
